* {
	transition: 0.25s ease-in-out;
}

html, body {
	width: 100%;
	max-width: 100%;
	
	height: 100%;
	margin: 0px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	overflow: hidden;
	font-family: Verdana, sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	height: 60px;
	padding: 0 5px 0 5px;

	background-image: url('https://board.asm32.info/templates/mobile/_images/yellow_back.png');
	background-position: -180px 0%;
	background-size: cover;
}

nav h1 {
	margin: 0px;
	font-weight: bold;
	color: black !important;
	text-overflow: ellipsis;
}

nav h1 a {
	text-decoration: none !important;
	color: black !important;
}

nav h1 a:hover {
	color: rgb(0, 0, 120) !important;
	text-decoration: none !important;
}

nav div {
	display: flex;
	align-items: stretch;
}

nav label {
	display: block;
	cursor: pointer;
		
	background-repeat: no-repeat;
	background-position: center;
}

nav label#toggle_controls_label {
	background-image: url('https://board.asm32.info/images/chat_user.svg');
}

nav label#toggle_syslog_label {
	background-image: url('https://board.asm32.info/images/chat_menu.svg');
}

@media all and (min-width: 402px) {
	nav label {
		margin: 0 10px 0 10px;
		width: 40px;
		height: 40px;
		background-size: 40px;
	}
	
	nav h1 {
		font-size: 36px !important;
	}
}

@media all and (max-width: 402px) and (min-width: 312px) {
	nav label {
		margin: 0 8px 0 8px;
		width: 25px;
		height: 25px;
		background-size: 25px;
	}
	
	nav h1 {
		font-size: 26px !important;
	}
}
	
@media all and (max-width: 312px) {
	nav label {
		margin: 0 5px 0 5px;
		width: 20px;
		height: 20px;
		background-size: 20px;
	}
	
	nav h1 {
		font-size: 20px !important;
	}
}

.control {
	display: block;
	height: 33px;
	padding: 3px 6px;
	margin: 1px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#content {
	height: calc(100% - 60px);
	background-color: rgb(64, 64, 64);
}

#chatboard {
	width: 100%;
	height: calc(100% - 5px);
	padding-top: 5px;
	margin-left: 0px;
	
	overflow: hidden;
}

#chatlog {
	color: white;
	height: calc(100% - 45px);
	
	overflow-x: hidden;
	overflow-y: auto;
	
	padding: 0 5px 0 5px;
}

#chatlog p {
	margin: 4px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#chatlog img {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

#chatlog a {
	color: rgb(192, 192, 255);
}

#controls {	
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	
	height: 45px;
	padding-top: 2px;
	overflow: hidden;
}

#chat_user {
	width: 200px;
	margin-right: 5px;
	text-align: right;
}

#chat_message {
	width: calc(100% - 200px);	
	pointer-events: all;
}

#drawer_syslog {
	position: absolute;
	left: -200px;
	
	width: 200px;
	height: calc(100% - 60px);
}

#syslog {
	height: calc(100% - 5px - 5px);
	overflow-x: hidden;
	overflow-y: auto;
	
	padding: 5px;
	border-right: 2px solid #000;
}

#syslog p {
	margin: 4px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user {
	font-weight: bold;
	color: #ffcc40;
	cursor: pointer;
}

.fake_user {
	font-weight: bold;
	color: #ff80ff;
	cursor: pointer;
}

#drawer_syslog_control {
	display: block;
	width: 0px;
	height: 0px;
	
	position: absolute;
	left: 0px;
	
	background-color: rgba(255, 255, 255, 0.0);
}

#toggle_syslog {
	display: none;
}

#toggle_syslog:checked ~ #drawer_syslog_control {
	left: 200px;
	width: calc(100% - 200px);
	height: calc(100% - 60px);
	
	background-color: rgba(255, 255, 255, 0.2);
}

#toggle_syslog:checked ~ #drawer_syslog {
	left: 0px;
}

#toggle_syslog:checked ~ #chatboard {
	margin-left: 200px;
}

#toggle_syslog:checked ~ #chatboard > #controls > #chat_message {
	pointer-events: none;
}

#toggle_controls {
	display: none;
}

#toggle_controls:checked ~ #chat_user {
	margin-left: -180px;
}

#toggle_controls:checked ~ #chat_message {
	width: 100%;
}